@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: LibreBaskerville;
    src: url(./assets/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: Jakarta;
    src: url(./assets/PlusJakartaSans-VariableFont_wght.ttf);
}

.font-main{
    font-family: LibreBaskerville;
}

.font-sec{
    font-family: Jakarta;
}